*.sw[pmno]
*.hdf
*.h5
# *.ipynb
*.pyc
*.egg-info
*.dat
*.lock
*.cpp
*.so
*.coverage
dist
build
dacapo.yaml
__pycache__
scratch/

# vscode stuff
.vscode
.mypy_cache
.pytest_cache
daisy_logs/
tmp/

*.zarr/
*.n5/