numpy
pyyaml
zarr
cattrs
pymongo
tqdm
simpleitk
lazy-property
neuroglancer
torch
fibsem_tools
daisy
git+git://github.com/funkelab/funlib.math
git+git://github.com/pattonw/funlib.evaluate
git+git://github.com/funkelab/funlib.geometry
git+git://github.com/cremi/cremi_python@python3
git+git://github.com/funkey/gunpowder@v1.3-dev

git+git://github.com/pattonw/lsd@no-convenience-imports