name: Test

on:
  pull_request:
    branches:
      - main
      - dev/main
  push:
    branches:
      - main
      - dev/main
  workflow_dispatch:

jobs:
  test:
    name: ${{ matrix.platform }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        # platform: [ubuntu-latest, windows-latest, macos-latest]
        platform: [ubuntu-latest]
        python-version: ['3.10', '3.11']
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[test]"

      - name: Test
        run: pytest --color=yes --cov --cov-report=xml --cov-report=term-missing
      
      - name: Coverage
        uses: codecov/codecov-action@v3
